.chat {
  bottom: 0;
  right: 0;
  position: fixed;
  padding: 1em;
}

.chat-header {
  margin: 0;
  color: white;
  height: 20px;
  text-align: center;
  background-color: #2e6da4;
}

.chat-body {
  overflow: scroll-y;
  padding: 2px;
  background-color: white;
  color: black;
}