.chat {
  bottom: 0;
  right: 0;
  position: fixed;
  padding: 1em 0 0 1em;
}

.chat-header {
  margin: 0;
  color: white;
  height: 3em;
  background-color: #2e6da4;
  padding: 1em;
}

.chat-body {
  overflow: scroll-y;
  padding: 2px;
  background-color: white;
  color: black;
  padding: 1em;
}

.chat-body .say {
  padding: 1em 0;
}

.chat-footer {
  border-top: 1px solid black;
  padding: 1em;
  background-color: white;
}